!!!
%html
	%head
		%title= "#{TRACKER.tracker_id} - STRACKER Status"

	%body
		%p
			%h1 Configuration
			Tracker id:
			%b= TRACKER.tracker_id
			%br
			Announce interval: 
			%b= TRACKER.announce_interval
			%br
			Timeout interval:
			%b= TRACKER.timeout_interval
			%br
			Minimal announce interval:
			%b= TRACKER.min_announce_interval
			%br
			Allow unregistered torrents:
			%b= TRACKER.allow_unregistered_torrents
			%br
			Allow non-compact responses:
			%b= TRACKER.allow_noncompact
			
		- unless @status_hash[:torrents].nil?
			%p
				%h1= "Total torrents: #{@status_hash[:torrents].size}"
				%ul
					- @status_hash[:torrents].each do |torrent|
						%li
							%h2= torrent.id
							Seeders: 
							%b= torrent.seeders
							%br
							Leechers: 
							%b= torrent.leechers
							%br
							Total peers: 
							%b= torrent.peers.size